.intro {
    color: red;
}

.textAndStuff {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    text-indent: 20px;
    
}

body {
    background-color: lightsalmon;
    font-family: sans-serif;
    margin: 0;
}

.house {
    position: absolute; 
    right: 20px;
}

.cloud {
    display: flex;
    position: relative;
    right: 100px;
}

button {
    font-size: 50px;
    position: absolute;
    right: 20px;
}
.image-button img {
    width: 1000px; 
    height: auto;
  }
  
  .image-button {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }
